# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# IDE - Jetbrains (IntelliJ, Android Studio, etc.)
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Logs and temp files
*.log
*.tmp
*.temp
*.swp
*.swo
